In [214]:
# Dependencies
from bs4 import BeautifulSoup
import requests
import pymongo
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [203]:
# Setup splinter
executable_path = {'executable_path': "C:/chromedriver.exe"}
browser = Browser('chrome', **executable_path, headless=False)

In [204]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

   # Nasa Mars News

In [205]:
# Define database and collection
db = client.mars_db
collection = db.items

In [206]:
# URL of page to be scraped
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'

# Retrieve page with the requests module
browser.visit(url)

html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [207]:
# Examine the results, get the latest news title and assingn it to the variable "news_title"
news_title = soup.find(class_="bottom_gradient").get_text()
news_title

"5 Hidden Gems Are Riding Aboard NASA's Perseverance Rover"

In [208]:
# Collect the paragraph text of the latest Mars news and assing it to a variable "prg_text"
prg_text = soup.find('div', class_="article_teaser_body").get_text()
prg_text

"The symbols, mottos, and small objects added to the agency's newest Mars rover serve a variety of purposes, from functional to decorative."

# JPL Mars Space Images

In [209]:
# Get the image url for the current featured mars image and assign the url string to a variable 
jpl_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(jpl_url)

In [210]:
# Create BeautifulSoup object and parse
jpl_html = browser.html
jpl_soup = BeautifulSoup(jpl_html, 'lxml')

# Find the url of featured iamage

featured_image = jpl_soup.select('a.fancybox')
images = [i.get('data-fancybox-href') for i in featured_image]
images[1]

'/spaceimages/images/largesize/PIA24272_hires.jpg'

In [211]:
# Put the base part of the webpage into a variable to combine with featured image url
image_base_url = 'https://www.jpl.nasa.gov'

# Combine the base url with the feauted image url
featured_image_url = image_base_url + images[1]
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA24272_hires.jpg'

# Mars Facts

In [218]:
facts_url = "https://space-facts.com/mars/"
tables = pd.read_html(facts_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [219]:
#What we get in return is a list of dataframes for any tabular data that Pandas found.
type(tables)

list

In [229]:
# Convert the table to a panadas dataframe
facts_df = tables[0]
facts_df

Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [232]:
# Convert the mars facts dataframe into a html table
facts_html_table = facts_df.to_html()

# Strip unwanted newlines to clean up the table
facts_html_table = facts_html_table.replace('\n', '')
facts_html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'